@import "../design/colors";


.menu--phone {

  a{
    color: $color-text;
  }

  .menu-item a > svg {
    width: 20px;
    height: 20px;
    position: absolute;
  }

  svg path{
    fill: $color-icon-on-dark;
  }

  .menu-item {
    display: flex;
    list-style: none;
    margin: 0 0 10px  0;
    padding: 0 10px 10px 0;
  }

  .menu-item a .link-text {
    margin-left: 35px;
  }

}
